<ng-container *ngFor="let step of queryStepList; index as i; first as isFirst; last as isLast;">
  <mat-card>  
    <mat-card-title *ngIf="isLast">Select a query step:</mat-card-title>
    <query-select
      [queryStep]="step" [index]="i" 
      (queryChanged)="onQueryChanged($event)"></query-select>
    <mat-card-actions *ngIf="isLast">
      <button (click)="addQueryStep()">add step</button>
      <button (click)="removeQueryStep()">remove step</button>
      <button (click)="resetQuery()">reset query</button>
      <button (click)="showQueryUrl()">get query url</button>
    </mat-card-actions>
  </mat-card>
</ng-container>
<query-result *ngIf="queryState?.results"
    [resultInfo]="queryState.resultInfo"
    [queryState]="queryState">
</query-result>
